@import "./src/styles/index.css";

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./src/assets/fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./src/assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
