:root {
  /* Accent color for the illustrations */
  --ods-illustration-accent-color: var(--ods-color-primary-400);

  /* Primary color of the illustrations */
  --ods-illustration-primary-color: var(--ods-color-primary-900);
}
