name: Library test

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20
  NODE_CACHE: "yarn"

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.5
      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build library
        run: yarn build
      - name: Build storybook
        run: yarn build:storybook

  test:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.5
      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run tests with coverage
        run: |
          set -eo pipefail
          yarn test:coverage
      - name: Check types
        run: yarn type-check
      - name: Check linter
        run: yarn lint
      - name: Check prettier
        run: yarn prettify
      - name: Enforce changelog
        if: github.ref != 'refs/heads/main'
        uses: dangoslen/changelog-enforcer@v3.6.1
